@keyframes animateLabelHover {
    from {
        opacity:0;
        transform:translateX(-50%) scale(0);
    }
    to {
        opacity:1;
        transform:translateX(-50%) scale(1.1);
    }
}

@keyframes animateEditProfileBackground {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes animateEditProfile {
    0% {
        opacity:0;
    }
    90% {
        opacity:0.5;   
    }
    100% {
        opacity:1;
    }
    from {
        width:0;
        height:0;
        opacity:0;
    }
    to {
        width:45rem;
        height:90vh;
        opacity:1;
    }
}

@keyframes animationSlideBookInformationIn {
    from {
        bottom:-14rem;
        opacity:0;
    }
    to {
        bottom:0;
        opacity:1;
    }
}

@keyframes animateButtonReviews {
    from {
        opacity:0;
        bottom:-2rem
    }
    to {
        opacity:1;
        bottom:-4.5rem;
    }
}