.component__header {
    width:100%;
    height:4.5rem;
    box-shadow:$box-shadow2;
    display:grid;
    align-items:center;
    background-color:$color__white;

    &--wrapper {
        width:90%;
        margin:0 auto;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
    }
}

.left__header {
    display:flex;
    flex-direction:row;
    align-items:center;
    
    &--logos {
        margin-right:1.4rem;
        
        a {
            font-size:1.9rem;
            text-decoration:none;
            color:$color__darkgrey;
            font-weight:900;
            font-family:$font__primary;
        }
    }

    .divider__element {
        width:2px;
        height:3.2rem;
        background-color:$color__darkgrey;
    }
    
    &--search {
        margin-left:1.4rem;

        svg {
            width:2.1rem;
            height:2.1rem;
            cursor:pointer;
            fill:$color__grey;
        }
    }
}

.right__header {
    display:flex;
    flex-direction:row;
    align-items:center;

    &--notifications {
        margin-right:1.4rem; 

        svg {
            width:2.6rem;
            height:2.6rem;
            cursor:pointer;
            fill:$color__grey;
        }
    }

    &--profile {
        width:3.5rem;
        height:3.5rem;
        overflow:hidden;
        border-radius:50%;

        a {
            img {
                width:3.5rem;
                height:3.5rem;
                border-radius:0.45rem;
            }
        }
    }

    // svg {
    //     width:2.1rem;
    //     height:2.1rem;
    // }
}

.userStatus {
    position: absolute;
    right: 14rem;
    // grid-column: 6/7;
    cursor: pointer;
    background-color: #0058a2;
    color: #ffffff;
    border: none;
    border-radius: 0.45rem;
    transition: all 0.22s ease-in-out;
    padding: 0.45rem 0.95rem 0.65rem 0.95rem;

    &:hover {
        background-color:dodgerblue;
    }
}

.userStatusInput {
    margin-right:0.45rem;
    padding:0.45rem 0.95rem 0.45rem 0.95rem;
    border-radius:0.45rem;
    border:1.4px solid lightgrey;
    // position: fixed;
    // bottom:0;
    // bottom:-4.5rem;
}

.wrapperUserStatus {
    position:fixed;
    top:35%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color:$color__white;
    border-radius:0.45rem;
    box-shadow:$box-shadow2;
    padding:4.5rem;

    .buttonAcceptStatus {
        cursor:pointer;
        padding:0.45rem 0.95rem 0.45rem 0.95rem;
        background-color:$color__primary;
        transition:all 0.22s ease-in-out;
        color:$color__white;
        border:none;
        border-radius:0.45rem;

        &:hover {
            background-color:dodgerblue;
        }
    }
    
    .closeUserStatus {
        width:2.2rem;
        height:2.2rem;
        position: absolute;
        cursor: pointer;
        top:0.45rem;
        right:0.45rem;
        transition:all 0.22s ease-in-out;
        border-radius:0.45rem;

        &:hover {
            background-color:$color__darkgrey;
            fill:$color__white;
            border-radius:0.45rem;
            padding:0.45rem;
        }
    }
}