.page__feed {
    width:100%;
    height:100vh;
    // height:auto;
    background-color:$color__lightgrey;
    overflow:hidden;
    
    &--wrapper {
        width:80%;
        margin:0 auto;
        border-radius:0.45rem;
        margin-top:4.5rem;
        display:grid;
        grid-template-columns:22rem 1fr 14rem;
        grid-column-gap:4.5rem;
        height:100%;
        overflow:hidden;
        // border:2px solid lightgrey;
    }
}

.feed__areas {
    overflow:scroll;
    padding-bottom:12.5rem;
    // margin-bottom:12.5rem;

    &::-webkit-scrollbar {
        display:none;
    }
}

.componentFeedPosts {
    width:80%;
    margin:0 auto;
    margin-top:4.5rem;
    display:grid;
    grid-template-rows:auto;
    grid-row-gap:3.5rem;
}