.page__book {
    width:100%;
    height:100vh;
    display:grid;
    grid-template-rows:4.5rem 1fr;
    // overflow:hidden;

    &--content {
        width:100%;
        height:100%;
        display:grid;
        grid-template-columns:repeat(2, 1fr);
    }
}

.page__book--content--cover {
    height:100vh;
    background-color:$color__pink;
}

.page__book--content--document {
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    background-color:$color__darks;

    .componentIndividualBooks {
        width:90%;
        height:100vh;
    }
}

.react-pdf__Document {
    display:flex!important;
    flex-direction:row!important;
    justify-content:space-around!important;
}

.react-pdf__Page__canvas {
    height:100vh!important;
}

.react-pdf__Page__textContent {
    height:100vh!important;
}

.component__reviews {
    position:absolute;
    left:-50%;
    animation:animationSlideReviews 0.45s ease-in forwards;
}