//color
$color__white:#ffffff;
$color__black:#000000;
$color__red:#f62459;
$color__darkgrey:#2e3131;

//fonts
$font__primary: 'utopia-std-headline', serif;
$font__secondary: 'Goudy Bookletter 1911', serif;

//box-shadow
$box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

//screen-sizes
$large: 900px;
$medium-large:700px;
$medium:545px;
$small:445px;