* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

html {
  font-size: 62.5%; }

.page__login,
.page__register {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  display: grid;
  align-items: center;
  justify-items: center; }
  .page__login--wrapper,
  .page__register--wrapper {
    width: 70vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.45rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff; }
    @media (max-width: 900px) {
      .page__login--wrapper,
      .page__register--wrapper {
        width: 80vw; } }
    @media (max-width: 700px) {
      .page__login--wrapper,
      .page__register--wrapper {
        width: 90vw; } }
    @media (max-width: 545px) {
      .page__login--wrapper,
      .page__register--wrapper {
        width: 100vw; } }
    @media (max-width: 445px) {
      .page__login--wrapper,
      .page__register--wrapper {
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
        align-items: center; } }

.left__areaAuths {
  height: 100%;
  padding: 2.1rem 0 2.1rem 0; }
  @media (max-width: 445px) {
    .left__areaAuths {
      height: auto; } }
  .left__areaAuths--logos {
    width: 80%;
    margin: 0 auto;
    height: 4.5rem; }
    .left__areaAuths--logos a {
      font-size: 1.9rem;
      text-decoration: none;
      font-weight: 900;
      color: #000000;
      font-family: "utopia-std-headline", serif; }
  .left__areaAuths--informations {
    width: 80%;
    margin: 0 auto;
    height: 6.5rem; }
    .left__areaAuths--informations h2 {
      font-size: 2.2rem;
      color: darkgrey;
      font-family: "utopia-std-headline", serif; }
      .left__areaAuths--informations h2 span {
        color: black; }
    .left__areaAuths--informations p {
      font-size: 1.4rem;
      color: #000000;
      font-family: "utopia-std-headline", serif;
      margin-top: 0.70rem; }
  .left__areaAuths .formLogin,
  .left__areaAuths .formRegister {
    width: 80%;
    margin: 0 auto;
    margin-top: 3.2rem; }
    .left__areaAuths .formLogin--forms,
    .left__areaAuths .formRegister--forms {
      height: 9.5rem;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 2px; }
      .left__areaAuths .formLogin--forms input,
      .left__areaAuths .formRegister--forms input {
        width: 100%;
        position: relative;
        outline: none;
        font-size: 1.4rem;
        border-radius: 0.45rem;
        border: 2px solid lightgrey;
        transition: all 0.45s ease-in-out;
        padding-left: 0.21rem;
        font-weight: 900;
        font-family: "utopia-std-headline", serif; }
        .left__areaAuths .formLogin--forms input:focus,
        .left__areaAuths .formRegister--forms input:focus {
          border-left: 0.45rem solid #f62459;
          padding-left: 0.45rem; }
    .left__areaAuths .formLogin--remember-forget,
    .left__areaAuths .formRegister--remember-forget {
      width: 100%;
      margin: 0 auto;
      height: 4.5rem;
      margin-top: 1.4rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .left__areaAuths .formLogin--remember-forget .formgroup__checkbox,
      .left__areaAuths .formRegister--remember-forget .formgroup__checkbox {
        display: grid;
        align-items: center;
        grid-template-columns: 2.1rem 1fr; }
        .left__areaAuths .formLogin--remember-forget .formgroup__checkbox input[type="checkbox"],
        .left__areaAuths .formRegister--remember-forget .formgroup__checkbox input[type="checkbox"] {
          width: 1.4rem;
          height: 1.4rem; }
        .left__areaAuths .formLogin--remember-forget .formgroup__checkbox label,
        .left__areaAuths .formRegister--remember-forget .formgroup__checkbox label {
          font-size: 1.2rem;
          font-weight: 445;
          color: darkgrey;
          font-family: "utopia-std-headline", serif; }
      .left__areaAuths .formLogin--remember-forget a,
      .left__areaAuths .formRegister--remember-forget a {
        text-decoration: none;
        font-size: 1.2rem;
        color: dodgerblue;
        font-weight: 445;
        cursor: pointer; }
        .left__areaAuths .formLogin--remember-forget a:hover,
        .left__areaAuths .formRegister--remember-forget a:hover {
          text-decoration: underline; }
    .left__areaAuths .formLogin--submit,
    .left__areaAuths .formRegister--submit {
      width: 100%;
      height: 4.5rem;
      margin-top: 0.45rem; }
      .left__areaAuths .formLogin--submit button,
      .left__areaAuths .formRegister--submit button {
        color: #ffffff;
        background-color: #000000;
        transition: all 0.21s ease-in-out;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 445;
        text-transform: uppercase;
        padding: 0.45rem 0.80rem 0.45rem 0.80rem;
        border-radius: 0.45rem; }
        .left__areaAuths .formLogin--submit button:hover,
        .left__areaAuths .formRegister--submit button:hover {
          background-color: #2e3131; }
  .left__areaAuths--terms-and-conditions {
    width: 80%;
    margin: 0 auto;
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .left__areaAuths--terms-and-conditions p {
      font-size: 1.2rem; }
      .left__areaAuths--terms-and-conditions p a {
        margin-left: 0.32rem;
        margin-right: 0.32rem; }
    .left__areaAuths--terms-and-conditions a.register__links,
    .left__areaAuths--terms-and-conditions a.login__links {
      text-decoration: none;
      color: #ffffff;
      background-color: #000000;
      transition: all 0.21s ease-in-out;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 445;
      text-transform: uppercase;
      padding: 0.45rem 0.80rem 0.45rem 0.80rem;
      border-radius: 0.45rem;
      height: 3.2rem; }
      .left__areaAuths--terms-and-conditions a.register__links:hover,
      .left__areaAuths--terms-and-conditions a.login__links:hover {
        background-color: #2e3131; }

.right__areaAuths {
  background-image: url("./image/authentications__background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  justify-items: center; }
  @media (max-width: 445px) {
    .right__areaAuths {
      display: none; } }
  .right__areaAuths--content {
    width: 14rem;
    height: 14rem; }
    .right__areaAuths--content .Tilt {
      width: 100% !important;
      height: 100% !important;
      background-color: rgba(255, 255, 255, 0.45);
      display: grid;
      align-items: center;
      justify-items: center; }
      .right__areaAuths--content .Tilt-inner {
        display: grid;
        align-items: center;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 900;
        font-family: "utopia-std-headline", serif !important; }

.formRegister {
  width: 80%;
  margin: 0 auto;
  margin-top: 3.2rem; }
  .formRegister--forms {
    height: 14rem !important;
    display: grid;
    grid-template-rows: repeat(3, 1fr) !important;
    grid-row-gap: 2px; }
    .formRegister--forms input {
      width: 100%;
      position: relative;
      outline: none;
      font-size: 1.4rem;
      border-radius: 0.45rem;
      border: 2px solid lightgrey;
      transition: all 0.45s ease-in-out;
      padding-left: 0.21rem;
      font-weight: 900;
      font-family: "utopia-std-headline", serif; }
      .formRegister--forms input:focus {
        border-left: 0.45rem solid #f62459;
        padding-left: 0.45rem; }

.component__header {
  width: 100%;
  height: 4.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: grid;
  align-items: center;
  background-color: #ffffff; }
  .component__header--wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.left__header {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .left__header--logos {
    margin-right: 1.4rem; }
    .left__header--logos a {
      font-size: 1.9rem;
      text-decoration: none;
      color: #2e3131;
      font-weight: 900;
      font-family: "utopia-std-headline", serif; }
  .left__header .divider__element {
    width: 2px;
    height: 3.2rem;
    background-color: #2e3131; }
  .left__header--search {
    margin-left: 1.4rem; }
    .left__header--search svg {
      width: 2.1rem;
      height: 2.1rem;
      cursor: pointer;
      fill: #C8C9CC; }

.right__header {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .right__header--notifications {
    margin-right: 1.4rem; }
    .right__header--notifications svg {
      width: 2.6rem;
      height: 2.6rem;
      cursor: pointer;
      fill: #C8C9CC; }
  .right__header--profile {
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    border-radius: 50%; }
    .right__header--profile a img {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 0.45rem; }

.page__profile {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #f7f7f7;
  border-radius: 0.45rem; }
  .page__profile--content {
    width: 70%;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 3.2rem; }

.componentProfileHeader {
  width: 100%;
  height: 45vh;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 6.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .componentProfileHeader--cover {
    width: 100%;
    overflow: hidden;
    position: relative; }
    .componentProfileHeader--cover img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
    .componentProfileHeader--cover button {
      border: none;
      border-radius: 0.45rem;
      width: 14rem;
      height: 3.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #2e3131;
      opacity: 0.8;
      position: absolute;
      bottom: 1.4rem;
      right: 1.4rem;
      cursor: pointer;
      padding-left: 0.45rem;
      padding-right: 0.45rem;
      transition: all 0.21s ease-in-out; }
      .componentProfileHeader--cover button:hover {
        background-color: black;
        opacity: 0.9; }
      .componentProfileHeader--cover button svg {
        width: 2.1rem;
        height: 2.1rem;
        cursor: pointer;
        fill: #ffffff;
        margin-right: 0.70rem; }
      .componentProfileHeader--cover button span {
        color: #ffffff;
        font-size: 1.4rem; }
  .componentProfileHeader--navigation {
    width: 90%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    position: relative; }
    .componentProfileHeader--navigation--profile {
      width: 8.5rem;
      height: 8.5rem;
      border-radius: 50%;
      overflow: hidden;
      top: -4.25rem;
      position: absolute;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .componentProfileHeader--navigation--profile img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.1); }
    .componentProfileHeader--navigation--links {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 12rem; }
      .componentProfileHeader--navigation--links a {
        font-size: 1.7rem;
        color: #5d6363;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.21s ease-in-out;
        position: relative; }
        .componentProfileHeader--navigation--links a:not(:last-child) {
          margin-right: 1.45rem; }
        .componentProfileHeader--navigation--links a:hover {
          color: black; }
      .componentProfileHeader--navigation--links .activeSubRoute {
        font-size: 1.7rem;
        color: black;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.21s ease-in-out;
        position: relative; }
        .componentProfileHeader--navigation--links .activeSubRoute::after {
          content: "";
          position: absolute;
          bottom: -2.25rem;
          left: 0;
          width: 100%;
          height: 0.35rem;
          border-radius: 0.32rem 0.32rem 0 0;
          background-color: #f62459;
          transition: all 0.21s ease-in-out;
          opacity: 1; }

.pageProfilePosts {
  background-color: #f7f7f7; }

.componentPosts {
  width: 70%;
  margin: 0 auto;
  padding: 4.5rem 0 3.2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem; }
  .componentPosts .componentPostsElement {
    height: 100%;
    background-color: #ffffff;
    border-radius: 0.90rem;
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center; }
    .componentPosts .componentPostsElement--wrapper {
      width: 90%;
      height: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 42% 1fr; }
      .componentPosts .componentPostsElement--wrapper--cover {
        overflow: hidden;
        border-radius: 0.45rem; }
        .componentPosts .componentPostsElement--wrapper--cover img {
          width: 100%; }
      .componentPosts .componentPostsElement--wrapper--information {
        padding-left: 1.4rem;
        padding-top: 3.2rem; }
        .componentPosts .componentPostsElement--wrapper--information h2 {
          font-family: "utopia-std-headline", serif;
          text-transform: uppercase;
          font-weight: 300;
          margin-bottom: 0.45rem; }
        .componentPosts .componentPostsElement--wrapper--information p {
          font-size: 1.4rem;
          margin-bottom: 0.45rem; }
        .componentPosts .componentPostsElement--wrapper--information span {
          display: block;
          font-size: 1.4rem; }
        .componentPosts .componentPostsElement--wrapper--information button {
          border: none;
          padding: 0.45rem 1.4rem 0.45rem 1.4rem;
          border-radius: 0.45rem;
          color: #ffffff;
          background-color: dodgerblue;
          margin-top: 1.4rem;
          cursor: pointer; }

.page__book {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 4.5rem 1fr; }
  .page__book--content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
