* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif; }

.base__division {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center; }

.main__division {
  width: 65vw;
  height: 55vh;
  border-radius: 0.45rem;
  display: grid;
  grid-template-columns: 39% 1fr;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .main__division--forms {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center; }
    .main__division--forms form {
      width: 95%; }
      .main__division--forms form input {
        width: 100%;
        height: 3.2rem;
        border: none;
        border-bottom: 1.4px solid #8e44ad; }
        .main__division--forms form input:not(:first-child) {
          margin-top: 0.45rem; }
      .main__division--forms form input[type=submit] {
        cursor: pointer;
        margin-top: 4.5rem;
        border-radius: 4.5rem;
        width: 9rem;
        height: 3.5rem;
        background-color: #8e44ad;
        border: none;
        color: #ffffff; }
  .main__division--datas {
    height: 100%;
    background-image: url("./image/background__image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0.45rem 0.45rem 0;
    display: grid;
    align-items: center;
    justify-items: center; }
    .main__division--datas .datas__wrapper {
      width: 90%;
      height: 45%;
      margin: 0 auto; }
      .main__division--datas .datas__wrapper h2 {
        font-size: 3.2rem;
        color: #ffffff;
        margin-bottom: 3.2rem;
        text-align: center; }
      .main__division--datas .datas__wrapper p {
        font-size: 1.4rem;
        color: #ffffff;
        text-align: center; }
